@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #0a051a;
  --secondary-bg: #12082e;
  --text-color: #fdfdfd;
  --main-color: #985eff;
  --highlight-color: #6d28d9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.7);
}

*::selection {
  background: var(--main-color);
  color: var(--bg-color);
}

.light-mode {
  --bg-color: #f9f7ff;
  --secondary-bg: #f3f0ff;
  --text-color: #333;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
  backdrop-filter: blur(5px);
}

.header.sticky {
  background: rgba(10, 5, 26, 0.9);
  box-shadow: 0 0.1rem 1rem var(--shadow-color);
  padding: 1.5rem 7%;
}

.light-mode .header.sticky {
  background: rgba(249, 247, 255, 0.9);
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  margin-right: auto;
  text-shadow: 0 0 10px rgba(152, 94, 255, 0.3);
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
  margin-right: 3.5rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: var(--main-color);
}

.header.sticky .navbar a {
  color: var(--text-color);
}

.header.sticky .navbar a.active {
  color: var(--main-color);
}

.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: var(--white-color);
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.navbar a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: var(--main-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar a:hover::before {
  transform: scaleX(1);
}

.header.sticky .navbar a::before {
  background: var(--main-color);
  opacity: 0.7;
}

#lightMode-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s;
}

.header.sticky #lightMode-icon {
  color: var(--text-color);
  opacity: 0.9;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

.home {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--bg-color) 60%,
    rgba(152, 94, 255, 0.05)
  );
}

.home .home-content {
  max-width: 44rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.3;
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  background: linear-gradient(
    to right,
    var(--main-color),
    var(--highlight-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-content p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  transform: translateY(0);
}

.home-content .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
  transform: translateY(-5px);
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--highlight-color);
  transition: 0.5s ease;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover {
  border-color: var(--highlight-color);
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  animation: none;
}

.home .profession-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.home .profession-container .profession-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {
  0%,
  20% {
    transform: rotate(0deg);
  }

  25%,
  45% {
    transform: rotate(-90deg);
  }

  50%,
  70% {
    transform: rotate(-180deg);
  }

  75%,
  95% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.home .profession-box .profession {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 384px;
  background: var(--bg-color);
  padding: 13px 0;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(152, 94, 255, 0.15);
  backdrop-filter: blur(5px);
}

.home .profession-box .profession:nth-child(1) i {
  margin-right: 100px;
}

.home .profession-box .profession:nth-child(2) i {
  margin-right: 35px;
}

.home .profession-box .profession:nth-child(3) i {
  margin-right: 50px;
}

.home .profession-box .profession:nth-child(4) i {
  margin-right: 75px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
  padding-bottom: 20px;
}

.home .profession i {
  font-size: 3.8rem;
  transition: transform 0.3s ease;
}

.profession:hover i {
  transform: scale(1.2);
}

.home .profession h3 {
  font-size: 2.6rem;
  line-height: 1;
  font-weight: 600;
  margin-top: 10px;
}

.home .profession-box .circle {
  width: 560px;
  height: 560px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(152, 94, 255, 0.2);
  animation: rotateCircle 15s linear infinite;
}

.home .profession-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 50vh solid var(--main-color);
  border-right: 384px solid var(--main-color);
  border-bottom: 50vh solid var(--main-color);
  border-left: 384px solid transparent;
  filter: drop-shadow(0 0 20px rgba(152, 94, 255, 0.3));
}

.home-img img {
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 40%;
  pointer-events: none;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
  transition: 0.5s ease;
  animation: float 6s ease-in-out infinite;
}

span {
  color: var(--main-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: linear-gradient(
    to left,
    var(--bg-color) 60%,
    rgba(152, 94, 255, 0.05)
  );
}

.about-img img {
  width: 40vw;
  filter: drop-shadow(0 0 20px rgba(152, 94, 255, 0.2));
}

.heading {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.about-content-lists {
  display: flex;
  justify-content: space-between;
}

.about-content-lists .list {
  width: 48%;
  background: var(--secondary-bg);
  border-radius: 10px;
  padding: 20px;
  margin-top: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.about-content h2 {
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 1rem;
}

.about-content h3 {
  font-size: 2.6rem;
  line-height: 1.4;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  line-height: 1.8;
}

ul {
  padding-left: 1.6rem;
  list-style: circle;
}

ul.list li {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

ul.list li strong {
  color: var(--main-color);
}

.presentations {
  color: var(--main-color);
  margin-bottom: 1.6rem;
  font-size: 2.8rem;
}

.experience {
  display: grid;
  place-items: center;
  background: linear-gradient(
    to bottom,
    var(--bg-color) 60%,
    rgba(152, 94, 255, 0.05)
  );
}

.experience h2 {
  margin-bottom: 5rem;
}

.experience .experience-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.experience-container .experience-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2rem solid var(--bg-color);
  background: var(--secondary-bg);
  padding: 3rem 2rem 4rem;
  transition: 0.5s ease;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.experience-container .experience-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(
    45deg,
    transparent,
    rgba(152, 94, 255, 0.1),
    transparent
  );
  z-index: -1;
  transition: 0.5s ease;
}

.experience-container .experience-box:hover::before {
  width: 100%;
}

.experience-container .experience-box:hover {
  border-color: var(--main-color);
  transform: translateY(-1rem);
}

.experience-box i {
  font-size: 7rem;
  color: var(--main-color);
  animation: float 5s ease-in-out infinite;
}

.experience-box h3 {
  font-size: 2.6rem;
  padding: 0.5rem 0;
  color: var(--white-color);
}

.experience-box h4 {
  font-size: 1.8rem;
  padding: 0.5rem 0;
  color: var(--text-color);
}

.experience-box:hover h3 {
  color: var(--main-color);
}

.experience-box:hover h4 {
  color: var(--main-color);
}

.experience-box p {
  font-size: 1.6rem;
  margin: 0.5rem 0 1.5rem;
}

.experience-box .read-more-content {
  display: none;
}

.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}

.popup-box.open {
  opacity: 1;
  visibility: visible;
}

.popup-box .popup-content {
  max-width: 600px;
  background-color: var(--bg-color);
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
  border: 2px solid var(--main-color);
  box-shadow: 0 0 20px rgba(152, 94, 255, 0.3);
  transform: scale(0.8);
  transition: all 0.5s ease;
}

.popup-box.open .popup-content {
  transform: scale(1);
}

.popup-box .popup-content h3 {
  font-size: 2.6rem;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.popup-box .popup-content p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.popup-box .popup-content li {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.portfolio {
  background: linear-gradient(
    to top,
    var(--bg-color) 60%,
    rgba(152, 94, 255, 0.05)
  );
  padding-bottom: 10rem;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--white-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: #333;
}

.testimonial-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper {
  position: relative;
  max-width: 90rem;
  width: 100%;
  padding: 5rem;
}

.testimonial-wrapper .testimonial-box {
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
}

.testimonial-content .testimonial-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--secondary-bg);
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  padding: 3rem 5rem;
  border: 0.2rem solid transparent;
  transition: 0.3s ease;
}

.testimonial-slide:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.testimonial-slide img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.5rem solid var(--main-color);
  outline: 0.5rem solid transparent;
  box-shadow: 0 0 1rem rgba(152, 94, 255, 0.3);
  animation: pulse 5s ease-in-out infinite;
}

.testimonial-slide h3 {
  font-size: 2.5rem;
  margin: 2rem 0;
  color: var(--main-color);
}

.testimonial-slide p {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.6;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
  color: var(--main-color);
}

.testimonial-box .swiper-button-next {
  right: 0;
}

.testimonial-box .swiper-button-prev {
  left: 0;
}

.testimonial-box .swiper-pagination-bullet {
  background: var(--main-color);
  opacity: 0.8;
}

.testimonial-box .swiper-pagination-bullet-active {
  background: var(--main-color);
}

.contact {
  min-height: auto;
  padding-bottom: 7rem;
  background: linear-gradient(
    to bottom,
    var(--bg-color) 80%,
    rgba(152, 94, 255, 0.05)
  );
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--secondary-bg);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.contact form .input-box input:focus,
.contact form textarea:focus {
  border: 2px solid var(--main-color);
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--secondary-bg);
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  background: transparent;
  border-color: var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--white-color);
}

/* Custom cursor styles for enhanced interactivity */
.custom-cursor {
  display: none;
}

.cursor-grow {
  display: none;
}

/* Restore default cursor on interactive elements */
a,
button,
.btn,
input,
textarea {
  cursor: pointer;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home .profession-container .profession-box {
    right: -10%;
  }

  .home .profession-container .overlay {
    right: -6%;
  }

  .home-img img {
    right: 0;
  }

  .experience .experience-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1100px) {
  .home .profession-container .profession-box {
    right: -15%;
  }

  .home-img img {
    max-width: 420px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .home .profession-container .profession-box {
    right: -20%;
  }

  .home .profession-container .overlay {
    right: -12%;
  }

  .home-img img {
    max-width: 400px;
  }
}

@media (max-width: 991px) {
  .navbar a:nth-child(1) {
    color: var(--main-color);
  }

  .navbar a.active::before {
    background: var(--main-color);
    opacity: 0.7;
  }

  .home .home-content {
    max-width: 50rem;
  }

  .home .profession-container .profession-box {
    right: -35%;
  }

  .home .profession-container .overlay {
    right: -30%;
  }

  .home-img img {
    display: none;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 896px) {
  .navbar a:nth-child(2) {
    color: var(--main-color);
  }

  .home .profession-container .profession-box {
    right: -50%;
  }

  .home .profession-container .overlay {
    right: -43%;
  }
}

@media (max-width: 879px) {
  .portfolio .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 780px) {
  .navbar a:nth-child(2) {
    color: var(--white-color);
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  #darkMode-icon {
    position: absolute;
    right: 7rem;
    font-size: 2.6rem;
    color: var(--text-color);
    margin-bottom: 0.1rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }

  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--text-color);
  }

  .navbar a.active {
    color: var(--main-color);
  }

  .navbar a::before {
    display: none;
  }

  .home {
    padding: 0 3% 23rem;
    justify-content: center;
    text-align: center;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content .social-media a {
    margin: 2.5rem 0.75rem 3rem;
  }

  .home .profession-container {
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home .profession-container .profession-box {
    position: fixed;
    top: 450px;
    left: 0;
    width: 100%;
  }

  .home .profession-box .profession {
    padding: 0 13px;
    left: auto;
    transform-origin: 0;
  }

  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-120px, -210px);
  }

  .home .profession-box .profession:nth-child(1) i {
    margin-right: 0;
  }

  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(0, -325px);
  }

  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-115px, -450px);
  }

  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-220px, -325px);
  }

  .home .profession-box .circle {
    position: fixed;
    width: 670px;
    height: 670px;
    z-index: -1;
  }

  .home .profession-container .overlay {
    position: fixed;
    top: 70rem;
    left: 50%;
    right: 0;
    transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
    border-width: 23.9rem;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-content h2 {
    text-align: center;
  }

  .about-img img {
    width: 70vw;
    margin-top: -2rem;
  }

  .testimonial-container .testimonial-wrapper {
    padding: 5rem 0;
  }

  .testimonial-content .testimonial-slide {
    padding: 3rem 2rem;
  }

  .testimonial-box .swiper-button-next,
  .testimonial-box .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 580px) {
  .portfolio .portfolio-container {
    grid-template-columns: 1fr;
  }

  .experience .experience-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  #darkMode-icon {
    right: 0;
  }

  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-120px, -210px);
  }

  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(0, -335px);
  }

  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-115px, -450px);
  }

  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-220px, -335px);
  }

  .home .profession-container .overlay {
    width: 0;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }

  /* Hide custom cursor on mobile */
  .custom-cursor {
    display: none;
  }
}

@media (max-width: 365px) {
  .about-img img {
    width: 90vw;
  }
}

@media (max-width: 315px) {
  .home-content h1 {
    font-size: 4.5rem;
  }
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.scroll-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
  z-index: 100;
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
}

.scroll-top a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background: var(--main-color);
  color: var(--white-color);
  font-size: 2.4rem;
  border-radius: 50%;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.scroll-top a:hover {
  background: var(--highlight-color);
  transform: translateY(-5px);
}

/* Keyframe animations */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Apply animations to elements */
.home-img img {
  animation: float 6s ease-in-out infinite;
}

.home .profession-box .circle {
  animation: rotateCircle 15s linear infinite;
}

.btn:hover {
  animation: none;
}

.experience-box i {
  animation: float 5s ease-in-out infinite;
}

.testimonial-slide img {
  animation: pulse 5s ease-in-out infinite;
}
